#header {
 width: 100%;
 height: 55px;
 margin: 0 auto;
 background-color:rgba(104,73,49,.9); 
 margin: 0 auto;
}

#header .dropdown ul li a{
  line-height: 60px;
}

#header .dropdown ul li a.sidebar_button{
  color:white;

}

#header .dropdown ul li a.sidebar_button:hover{
  color:black;
  
}

.brand{
  float: left;
  position: relative;
  top: -10px;
  font-family: sans-serif;
  color:white;
  margin-left: 7px;

}

.brand h1{
   font-size: 20px
}

.well:hover{
 
}

.table_nav{
  position: relative;
  right: -285px;
  bottom: -75px;
}


.dropdown-menu li{
  line-height: 40px;
  margin-top: 5px
}


.dropdown-menu li a{
       border-bottom: 1px solid #444;
    -webkit-transition: all 0.2s ease;
    -moz-transition: all 0.2s ease;
    -ms-transition: all 0.2s ease;
    -o-transition: all 0.2s ease;
}


.dashed_button{
  border:2px dashed red;
  color:;
}

.dashed_button:hover{
  background: #FF2E2E;
  color:white;
}



/**/





table.register {
    border-collapse: separate;
    border-spacing: 10px;
    *border-collapse: expression('separate', cellSpacing = '10px');
}
