header{
	height: 50px;
	width: 100%;
	background: rgba(104,73,49,.9);
}

header a{
	margin-top: 3px
}






.negate{
	background: #FF002C;
	color:#ffffff;
}

.negate:hover{
	color:#ffffff;
}



ul.sidebar-nav{
	margin-top: 
}


